<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>게시판</h1>
        <!--<table>
            <thead>게시판 목록
            <tr>
                <th>No.&emsp;&emsp;&emsp;</th>
                <th>제목</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.name}"></td>
                </tr>
            </tbody>
        </table>-->
        <p>
            <a href="/members/new">게시글 작성</a>
            <a href="/members">게시글 목록</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>